# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# VSCode / PyCharm / IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Termcal user notes
termcal/notes.json
~/.termcal/
